:root {
  --main-white-cl: #ffffff;
  --accent-color: #4f2ee8;
  --main-text-color: #111111;
  --secondary-title-cl: #b4afaf;
  --active-color: #eac645;
  --category-color: rgba(17, 17, 17, 0.6);
  --login-form-cl: #f6f6f6;
  --login-form-text-cl: #f3f3f3;

  // additional colors for dark mode
  --dark-background-color: #202024;
  --dark-category-color: rgba(255, 255, 255, 0.6);
}
