<div class="backdrop-login is-hidden">
  <div class="login-pop-up">
    <button type="button" class="pop-up-close close-login-btn">
      <svg class="modal-close-button" width="14" height="14">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <form class="signup-form">
      <label class="form-label">
        <input type="text" class="form-input" name="name" placeholder="name" />
      </label>
      <label class="form-label">
        <svg class="input-icon" width="26" height="26">
          <use href="./images/sprite.svg#email"></use>
        </svg>
        <input
          type="email"
          class="form-input"
          name="email"
          placeholder="email"
        />
      </label>
      <label class="form-label">
        <svg class="input-icon" width="26" height="26">
          <use href="./images/sprite.svg#password"></use>
        </svg>
        <input
          type="password"
          class="form-input"
          name="password"
          placeholder="password"
        />
      </label>
      <button type="button" class="sign-up-btn">Sign up</button>
    </form>
    <ul class="login-controls">
      <li class="login-item user-sign-up active"><a>Sign up</a></li>
      <li class="login-item user-sign-in"><a>Sign in</a></li>
    </ul>
  </div>
</div>
