.header {
  position: sticky;
  top: -1px;

  z-index: 20;
}

.header-container {
  position: sticky;
  top: -1px;

  margin-right: auto;
  margin-left: auto;

  padding: 19px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1440px;

  background-color: var(--main-white-cl);

  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--main-text-color);

  z-index: 20;

  &.dark {
    background-color: var(--main-text-color);
    border: 1.5px solid var(--main-white-cl);
  }
}

.header-nav-container {
  display: flex;
  align-items: center;
}

.site-nav {
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;

  font-weight: 500;
  // color: var(--main-text-color);

  &:not(:last-child) {
    margin-right: 24px;
  }

  &.current {
    width: auto;
    height: 34px;
    padding: 8px 16px;

    font-weight: 700;

    background-color: var(--active-color);
    border-radius: 36px;
  }

  &.current.dark {
    color: var(--main-text-color);
  }
}

.logo {
  display: flex;
  margin-right: 76px;
  align-items: center;

  color: #000;
}

.nav-home {
  text-transform: uppercase;

  font-size: 14px;
}

.shop-list {
  margin-right: 4px;
  display: flex;
  align-items: center;

  font-size: 14px;

  text-transform: uppercase;
}

.controls {
  display: flex;
  align-items: center;
}

// .user-login-icon {
//   padding: 0;
//   width: 37px;
//   height: 37px;

//   background-color: #f6f6f6;
//   border-radius: 50%;
// }

.button-sign-up {
  display: flex;
  padding: 14px;
  justify-content: space-between;
  align-items: center;

  width: 184px;
  height: 48px;

  color: var(--main-white-cl);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--accent-color);

  border-radius: 18px;
  border: 1.5px solid #111;
}

.sign-up-arrow {
  stroke: var(--active-color);
}
