.category-container {
  height: 472px;
}

.category-list {
  padding-right: 28px;
  width: 356px;
  max-height: 472px;

  overflow-y: scroll;
}

.category-link {
  color: var(--category-color);

  &.dark {
    color: var(--dark-category-color);
  }
}

.category-item {
  font-size: 18px;
  letter-spacing: -0.36px;

  & .active {
    color: var(--accent-color);
    font-weight: 700;
    text-transform: uppercase;
  }

  & .active.dark {
    color: var(--active-color);
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.all-cat {
  margin-bottom: 32px;

  font-size: 18px;

  letter-spacing: -0.36px;

  & .active {
    color: var(--accent-color);
    font-weight: 700;
    text-transform: uppercase;
  }
}
